.overlay{
    background-color: rgba(91, 120, 130, 0.5);
    width: 98vw;
    height: 99vh;
    position: relative;
    z-index: 1;
    top: -410px;
    left: -135px;
    .dialogue{
        background-color: rgb(226, 213, 197);
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 20vh;
        flex-direction: column;
        width: 30vw;
        border-radius: 12px;
        margin: -20px 40px;
        position: relative;
        top: 200px;
        right: -450px;
        box-shadow: 12px 12px 20px black;
        .dialogue_cancel{
            background-color: aquamarine;
            width: 50px;
            height: 30px;
            border-radius: 8px;
            margin: 8px 10px;
            &:hover{
                background-color: aqua;
                
            }
        }
        .dialogue_confirm{
            background-color: orangered;
            width: 100px;
            height: 30px;
            border-radius: 6px;
            margin: 8px 10px;
            &:hover{
                background-color: red;
            }
        }
    }
}




@media (max-width: 400px) {
    .overlay{
        top: -520px;
        left: -42px;
        .dialogue{
            width: 90vw;
            height: 20vh;
            top: 190px;
            right: 20px;
        }
    }
}